nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    /* margin-top: 50px; */
    border-radius: 600px;
    background: #F85559;
  
}
nav>ul {
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
    

}

nav li a {
    text-decoration: none;
    color: black;
    gap:30px
}


